@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i");
/* @import url('https://fonts.googleapis.com/css?family=Great+Vibes'); */
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

body {
  font: 1em 'Raleway', sans-serif; }

header {
  background: #1E629A;
  color: #FFFFFF;
  padding: 0.3em 0; }
  header a {
    color: white; }

div.container {
  margin: 5em; }

nav.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #666666;
  color: white;
  padding: 1em; }
  nav.top a {
    margin: 1em;
    color: white; }
    nav.top a:hover {
      color: orange; }

section.filter-bar {
  padding: 1em;
  margin: 0;
  width: 100%;
  background: gray;
  text-align: center;
  color: white; }
  section.filter-bar a {
    background: limegreen;
    margin: 0 1em;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    color: white; }

section.edit-quote input, section.edit-quote textarea {
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em; }

div.centered {
  text-align: center; }
  div.centered a {
    background: lightgray;
    padding: 0.3em 1em;
    border-radius: 999px;
    margin: 0 1em;
    border-bottom: 2px solid darkgray; }
    div.centered a:hover {
      background: orange;
      border-bottom: 2px solid darkorange;
      color: white; }

form {
  margin: 2.8em auto; }

button[type=Submit] {
  font-size: 1.1rem;
  border-radius: 1em;
  padding: 0.3em 1em;
  border: 0;
  background: #1E629A;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0.5em 0 0;
  float: right;
  clear: right; }
  button[type=Submit]:hover {
    background: #FED762;
    color: #1E629A; }

ul {
  display: flex;
  width: 80%;
  margin: 2em auto;
  justify-content: space-between;
  list-style: none; }
  ul li {
    text-align: center; }

a {
  color: gray;
  text-decoration: none; }
  a:hover {
    color: orange; }

.db-logging {
  width: 500px;
  margin: 1em auto; }
  .db-logging ul {
    display: block; }
    .db-logging ul.pagination {
      display: flex;
      width: 100%; }
    .db-logging ul li {
      margin: 0.5em 0; }
    .db-logging ul a {
      display: inline-block;
      background: none;
      border: 0;
      color: #07C811; }
      .db-logging ul a:hover {
        background: none;
        color: #A79226;
        border: 0; }

section.info-box {
  width: 100%;
  color: white;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  margin: 0 1em; }
  section.info-box.fail {
    background: red; }
  section.info-box.success {
    background: #7db040; }
    section.info-box.success span.fa.fa-check {
      border-radius: 999px;
      margin: 0 1em 0 0;
      padding: 0.5em;
      background: rgba(255, 255, 255, 0.3); }
section.quotes {
  text-align: center; }
  section.quotes .all-quotes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 1em auto; }
    section.quotes .all-quotes-container article.quote {
      position: relative;
      background: #FED762;
      padding: 1em;
      flex-basis: 28%;
      margin: 1em auto;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
      section.quotes .all-quotes-container article.quote .delete {
        position: absolute;
        top: 0.6em;
        right: 0.6em; }
        section.quotes .all-quotes-container article.quote .delete a {
          font-weight: bold;
          color: gray; }
          section.quotes .all-quotes-container article.quote .delete a:hover {
            color: #dd1c1c; }
      section.quotes .all-quotes-container article.quote .info a {
        font-weight: bold;
        color: #304D70; }
      section.quotes .all-quotes-container article.quote p.quote-text {
        font: 2em "Great Vibes", serif;
        color: rgba(0, 0, 0, 0.75); }
section.edit-quote {
  width: 50%;
  margin: 1em auto;
  text-align: center; }
  section.edit-quote label {
    position: absolute;
    visibility: hidden; }

.post p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.7em;
  margin: 0;
  color: #333; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

header.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: gray;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0; }
  header.top-nav i {
    margin: 0 1em 0 0;
    opacity: 0.6; }
  header.top-nav a {
    color: white;
    text-decoration: none; }
  header.top-nav ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 5em 0; }
    header.top-nav ul li {
      display: block;
      padding: 1em; }
      header.top-nav ul li.active {
        background: #FFFFFF;
        border-radius: 1em 1em 0 0; }
        header.top-nav ul li.active a {
          color: gray; }
        header.top-nav ul li.active i {
          color: gray;
          opacity: 1; }

div.modal {
  display: none; }

div.card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-height: 20em;
  margin: 1em;
  border: 2px solid #999;
  border-radius: 0.3rem 0.3rem 0 0;
  width: 45%; }
  div.card:last-of-type {
    margin: 1em 0 1em 1em; }
  div.card header {
    background: #168ebd;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.3rem 0.3rem 0 0;
    margin: -2px -2px 0 -2px; }
    div.card header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%; }
      div.card header nav ul li {
        display: inline-block; }
        div.card header nav ul li a {
          text-decoration: none; }
  div.card section {
    margin: 1em; }
    div.card section h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #DF6419;
      text-align: center; }
    div.card section article {
      margin: 1em 0;
      padding: 1em;
      border: 1px solid #999;
      border-radius: 0.3em;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); }
      div.card section article .post-info h3, div.card section article .message-info h3 {
        display: inline-block;
        margin: 0 0 0.5em; }
      div.card section article .post-info span, div.card section article .message-info span {
        font-size: 0.9em;
        margin: 0 0 0 1em;
        color: #888; }
      div.card section article .edit nav ul {
        width: 100%;
        margin: 0;
        padding: 0; }
        div.card section article .edit nav ul li {
          margin: 0.3em 1em 0; }
    div.card section .post-info {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: none; }

form.create-post {
  margin-top: 2em;
  width: 30%; }
  form.create-post h2 {
    margin-left: 2.5em;
    color: #1E629A;
    text-align: center; }

div.input-group {
  display: flex;
  flex-wrap: wrap; }
  div.input-group label, div.input-group input {
    align-self: center;
    margin: 1em 0.5em; }
  div.input-group label {
    flex: 0.4;
    text-align: right; }
  div.input-group input, div.input-group textarea {
    flex: 2;
    padding: 0.6em;
    box-shadow: inset 0 0 4.7px rgba(0, 0, 0, 0.6);
    border: 0;
    font-size: 1.1em; }
  div.input-group select, div.input-group button {
    align-self: center;
    margin: 0 1em; }
  div.input-group .added-categories {
    width: 100%; }
    div.input-group .added-categories ul {
      width: 100%;
      margin: 1em 0 0;
      padding: 0; }

#post-admin {
  display: flex;
  justify-content: center;
  margin: -1em -6em 0;
  padding: 1em;
  background: #ff9800;
  width: 113.7%;
  width: 100vw; }
  #post-admin a {
    margin: 0 1em;
    color: #FFFFFF; }

.post-info {
  width: 45%;
  margin: 1em auto;
  border: 2px solid #FED762;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 1em; }
  .post-info h3 {
    color: blue;
    margin: 0 0 1em; }
  .post-info ul {
    padding: 0;
    margin: 2em auto 0; }

.post {
  display: block;
  width: 50%;
  margin: 1em auto;
  padding: 1em;
  background: #FCD87A;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .post h1 {
    color: #1E629A;
    display: inline-block;
    margin: 0 1em 1em 0; }

/*# sourceMappingURL=main.css.map */
