* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  &.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: gray;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    i {
      margin: 0 1em 0 0;
      opacity: 0.6;
    }
    a {
      color: white;
      text-decoration: none;
    }
    ul {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 1em 5em 0;
      li {
        display: block;
        padding: 1em;
        &.active {
          background: #FFFFFF;
          border-radius: 1em 1em 0 0;
          a {
            color: gray;
          }
          i {
            color: gray;
            opacity: 1;
          }
        }
      }
    }
  }
}

div.modal {
  display: none;
}

div.card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-height: 20em;
  margin: 1em;
  border: 2px solid #999;
  border-radius: 0.3rem 0.3rem 0 0;
  width: 45%;
  &:last-of-type {
    margin: 1em 0 1em 1em;
  }
  header {
    background: #168ebd;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.3rem 0.3rem 0 0;
    margin: -2px -2px 0 -2px;
    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
          display: inline-block;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  section {
    margin: 1em;
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #DF6419;
      text-align: center;
    }
    article {
      margin: 1em 0;
      padding: 1em;
      border: 1px solid #999;
      border-radius: 0.3em;
      box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
      .post-info, .message-info {
        h3 {
          display: inline-block;
          margin: 0 0 0.5em;
        }
        span {
          font-size: 0.9em;
          margin: 0 0 0 1em;
          color: #888;
        }
      }
      .edit {
        nav {
          ul {
            width: 100%;
            margin: 0;
            padding: 0;
            li {
              margin: 0.3em 1em 0;
            }
          }
        }
      }
    }
  .post-info {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
  }
  }
}

form.create-post {
  margin-top: 2em;
  width: 30%;
  h2 {
    margin-left: 2.5em;
    color: $blue;
    text-align: center;
  }
}

div.input-group {
  display: flex;
  flex-wrap: wrap;
  label, input {
    align-self: center;
    margin: 1em 0.5em;
  }
  label {
    flex: 0.4;
    text-align: right;
  }
  input, textarea {
    flex: 2;
    padding: 0.6em;
    box-shadow: inset 0 0 4.7px rgba(0, 0, 0, 0.6);
    border: 0;
    font-size: 1.1em;
  }
  select, button {
    align-self: center;
    margin: 0 1em;
  }
  .added-categories {
    width: 100%;
    ul {
      width: 100%;
      margin: 1em 0 0;
      padding: 0;
    }
  }
}

#post-admin {
  display: flex;
  justify-content: center;
  margin: -1em -6em 0;
  padding: 1em;
  background: #ff9800;
  width: 113.7%;
  width: 100vw;
  a {
    margin: 0 1em;
    color: #FFFFFF;
  }
}

.post-info {
  width: 45%;
  margin: 1em auto;
  border: 2px solid $yellow;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 1em;
  h3 {
    color: blue;
    margin: 0 0 1em;
  }
  ul {
    padding: 0;
    margin: 2em auto 0;
  }
}

.post {
  display: block;
  width: 50%;
  margin: 1em auto;
  padding: 1em;
  background: #FCD87A;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  h1 {
    color: $blue;
    display: inline-block;
    margin: 0 1em 1em 0;
  }
}
