
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i');
/* @import url('https://fonts.googleapis.com/css?family=Great+Vibes'); */
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

@import 'variables';

* { box-sizing: border-box; }

html, body {
  margin: 0;
}

body {
  font: 1em 'Raleway', sans-serif;
}

header {
  background: $blue;
  color: #FFFFFF;
  padding: 0.3em 0;
  a {
    color: white;
  }
}

div.container {
  margin: 5em;
}

nav.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #666666;
  color: white;
  padding: 1em;
  a {
    margin: 1em;
    color: white;
    &:hover {
      color: orange;
    }
  }
}

section.filter-bar {
  padding: 1em;
  margin: 0;
  width: 100%;
  background: gray;
  text-align: center;
  color: white;
  a {
    background: limegreen;
    margin: 0 1em;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    color: white;
  }
}


section.edit-quote {
  input, textarea {
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    margin: 1em 0;
    padding: 0.5em;
  }
}

div.centered {
  text-align: center;
  a {
    background: lightgray;
    padding: 0.3em 1em;
    border-radius: 999px;
    margin: 0 1em;
    border-bottom: 2px solid darkgray;
    &:hover {
      background: orange;
      border-bottom: 2px solid darkorange;
      color: white;
    }
  }

}

form {
  margin: 2.8em auto;
}

button {
  &[type = Submit] {
    font-size: 1.1rem;
    border-radius: 1em;
    padding: 0.3em 1em;
    border: 0;
    background: $blue;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0.5em 0 0;
    float: right;
    clear: right;
    &:hover {
      background: $yellow;
      color: $blue;
    }
  }
}

ul {
  display: flex;
  width: 80%;
  margin: 2em auto;
  justify-content: space-between;
  list-style: none;
  li {
    text-align: center;
  }
}

a {
  color: gray;
  text-decoration: none;
  &:hover {
    color: orange;
  }
}

.db-logging {
  width: 500px;
  margin: 1em auto;
  ul {
    &.pagination {
      display: flex;
      width: 100%;
    }
    display: block;
    li {
      margin: 0.5em 0;
    }
    a {
      display: inline-block;
      background: none;
      border: 0;
      color: #07C811;
      &:hover {
        background: none;
        color: #A79226;
        border: 0;
      }
    }

  }
}

section {
  &.info-box {
    width: 100%;
    color: white;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    margin: 0 1em;
    &.fail {
      background: red;
    }
    &.success {
      background: #7db040;
      span.fa.fa-check {
        border-radius: 999px;
        margin: 0 1em 0 0;
        padding: 0.5em;
        background: rgba(255,255,255, 0.3);
      }
    }
  }
  &.quotes {
    text-align: center;
    .all-quotes-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 80%;
      margin: 1em auto;
      article {
        &.quote {
          position: relative;
          background: $yellow;
          padding: 1em;
          flex-basis: 28%;
          margin: 1em auto;
          box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
          .delete {
            position: absolute;
            top: 0.6em;
            right: 0.6em;
            a {
              font-weight: bold;
              color: gray;
              &:hover {
                color: #dd1c1c;
              }
            }
          }
          .info {
            a {
              font-weight: bold;
              color: #304D70;
            }
          }
          p {
            &.quote-text {
              font: 2em "Great Vibes", serif;
              color: rgba(0,0,0,0.75);
            }
          }
        }
      }
    }
  }
  &.edit-quote {
    width: 50%;
    margin: 1em auto;
    text-align: center;
    label {
      position: absolute;
      visibility: hidden;
    }
  }
  textarea {
    &#quote {

    }
  }
}

.post {
  p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.7em;
    margin: 0;
    color: #333;
  }
}

@import 'admin';
